<template>
  <div style="margin-top: 15px">
    <p class="tableTitles">
      Acties
      <q-icon
        class="clickableIcons"
        color="green"
        size="125%"
        name="add"
        @click="prompt = true; checkNew = true"
      />
    </p>
    <q-markup-table>
      <thead>
        <tr>
          <th class="text-left">Type</th>
          <th class="text-left">Omschrijving</th>
          <th class="text-left">Tijdstip</th>
          <th class="text-left">Uitgevoerd</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(action, index) in filteredActions" :key="index">
          <td class="text-left">{{action.type}}</td>
          <td class="text-left">{{action.description}}</td>
          <td class="text-left">{{getDate(action.timestamp)}}</td>
          <td>
            <q-checkbox v-model="action.done" color="primary" @input="$emit('valueChanged')"></q-checkbox>
          </td>
          <td>
            <template v-if="nonEditableActions.includes(action.type)">
              <q-icon color="grey" size="150%" name="edit" />
              <q-icon color="grey" size="150%" name="clear" />
            </template>
            <template v-else>
              <q-icon
                class="clickableIcons"
                color="green"
                size="150%"
                name="edit"
                @click="startEdit(action)"
              />
              <q-icon
                class="clickableIcons"
                color="red"
                size="150%"
                name="clear"
                @click="deleteAction(action)"
              />
            </template>
          </td>
        </tr>
      </tbody>
    </q-markup-table>
    <action-dialog @addAction="addAction" @editAction="editAction"></action-dialog>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ActionDialog from '../patient/ActionDialog'
import { getFormattedDate, getDate } from '../../functions/myFunctions'

export default {
  name: 'ActionList',
  components: { ActionDialog },
  props: {
    patient: {
      type: Object,
      required: true
    },
    filterDone: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      nonEditableActions: ['medicatie', 'injectie', 'infuus']
    }
  },
  computed: {
    filteredActions () {
      if (this.patient.actions !== undefined) {
        return this.patient.actions.filter(x => this.filterDone || !x.done)
      }
      return null
    },
    ...mapGetters(['getPrompt']),
    prompt: {
      set (val) {
        this.$store.commit('setPrompt', val)
      },
      get () {
        return this.getPrompt
      }
    },
    ...mapGetters(['getActionType']),
    actionType: {
      set (val) {
        this.$store.commit('setActionType', val)
      },
      get () {
        return this.getActionType
      }
    },
    ...mapGetters(['getActionDescription']),
    actionDescription: {
      set (val) {
        this.$store.commit('setActionDescription', val)
      },
      get () {
        return this.getActionDescription
      }
    },
    ...mapGetters(['getActionTimestamp']),
    actionTimestamp: {
      set (val) {
        this.$store.commit('setActionTimestamp', val)
      },
      get () {
        return this.getActionTimestamp
      }
    },
    ...mapGetters(['getCheckNew']),
    checkNew: {
      set (val) {
        this.$store.commit('setCheckNew', val)
      },
      get () {
        return this.getCheckNew
      }
    },
    ...mapGetters(['getActionId']),
    actionId: {
      set (val) {
        this.$store.commit('setActionId', val)
      },
      get () {
        return this.getActionId
      }
    },
    ...mapGetters(['getPatient']),
    ...mapGetters(['getPatients'])
  },
  methods: {
    ...mapActions(['fetchPatients']),
    deleteAction (action) {
      const index = this.patient.actions.indexOf(action)
      this.patient.actions.splice(index, 1)
      this.$emit('valueChanged')
    },
    addAction () {
      if (this.actionType.length === 0 || this.actionTimestamp.length === 0) {
        return
      }
      const index = this.getHighestId()
      if (this.patient.actions === undefined) {
        this.patient.actions = []
      }
      this.patient.actions.push({
        id: index,
        type: this.actionType,
        description: this.actionDescription,
        timestamp: this.actionTimestamp,
        done: false
      })
      this.$emit('valueChanged')
      this.prompt = false
      this.resetAction()
    },
    startEdit (action) {
      this.actionType = action.type
      this.actionDescription = action.description
      this.actionTimestamp = action.timestamp
      this.actionId = action.id
      this.checkNew = false
      this.prompt = true
    },
    editAction () {
      const id = this.findActionById(this.actionId)
      const dn = this.patient.actions[id].done
      const newAction = {
        id: this.actionId,
        type: this.actionType,
        description: this.actionDescription,
        timestamp: this.actionTimestamp,
        done: dn
      }
      this.patient.actions.splice(id, 1, newAction)
      this.$emit('valueChanged')
      this.prompt = false
      this.resetAction()
    },
    actionDoneChanged (index) {
      this.patient.actions[index].done = this.updatedPatient.actions[index].done
      this.$emit('valueChanged')
    },
    getHighestId () {
      if (this.patient.actions === undefined || this.patient.actions.length === 0) return 1
      let p = this.patient.actions.reduce((a, b) =>
        Number(a.id) > Number(b.id) ? a : b
      )
      let index = p.id
      return index + 1
    },
    getDate (d) {
      return getFormattedDate(d, true)
    },
    resetAction () {
      this.actionType = 'eten'
      this.actionDescription = ''
      this.actionTimestamp = getDate(new Date())
      this.actionId = -1
    },
    findActionById (attr) {
      for (var i = 0; i < this.patient.actions.length; i += 1) {
        if (this.patient.actions[i].id === attr) {
          return i
        }
      }
      return -1
    }
  }
}
</script>
