<template>
  <q-dialog v-model="prompt" persistent>
    <q-card style="min-width: 350px">
      <q-card-section>
        <div class="text-h6">Voeg een actie toe</div>
      </q-card-section>

      <q-card-section>
        <q-select
          outlined
          v-model="actionType"
          :options="actionOptions"
          label="Type"
          :rules="[val => !!val || 'Dit veld mag niet leeg zijn']"
        />
      </q-card-section>
      <q-card-section>
        <q-input outlined v-model="actionDescription" label="Beschrijving" :rules=" [true]" />
      </q-card-section>
      <q-card-section class="q-gutter-md row items-start">
        <div style="width: 100%">
          <q-input outlined v-model="actionTimestamp" :rules="[val => !!val || 'Dit veld mag niet leeg zijn']" >
            <template v-slot:prepend>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-date v-model="actionTimestamp" mask="YYYY-MM-DD HH:mm" />
                </q-popup-proxy>
              </q-icon>
            </template>
            <template v-slot:append>
              <q-icon name="access_time" class="cursor-pointer">
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-time
                    v-model="actionTimestamp"
                    mask="YYYY-MM-DD HH:mm"
                    format24h
                  />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
      </q-card-section>
      <q-card-actions align="right" class="text-primary">
        <q-btn flat label="Annuleer" @click="cancelPrompt" v-close-popup />
        <q-btn v-if="checkNew" flat label="Voeg toe" type="submit"  @click="$emit('addAction')" />
        <q-btn v-else flat label="Bewerk" type="submit" @click="$emit('editAction')" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { mapGetters } from 'vuex'
import { getDate } from '../../functions/myFunctions'

export default {
  name: 'ActionDialog',
  computed: {
    ...mapGetters(['getPrompt']),
    prompt: {
      set (val) {
        this.$store.commit('setPrompt', val)
      },
      get () {
        return this.getPrompt
      }
    },
    ...mapGetters(['getActionType']),
    actionType: {
      set (val) {
        this.$store.commit('setActionType', val)
      },
      get () {
        return this.getActionType
      }
    },
    ...mapGetters(['getActionDescription']),
    actionDescription: {
      set (val) {
        this.$store.commit('setActionDescription', val)
      },
      get () {
        return this.getActionDescription
      }
    },
    ...mapGetters(['getActionTimestamp']),
    actionTimestamp: {
      set (val) {
        this.$store.commit('setActionTimestamp', val)
      },
      get () {
        return this.getActionTimestamp
      }
    },
    ...mapGetters(['getCheckNew']),
    checkNew: {
      set (val) {
        this.$store.commit('setCheckNew', val)
      },
      get () {
        return this.getCheckNew
      }
    }
  },
  data () {
    return {
      actionOptions: ['eten', 'wassen', 'omkeren']
    }
  },
  methods: {
    cancelPrompt () {
      this.actionType = 'eten'
      this.actionDescription = ''
      this.actionTimestamp = getDate(new Date())
    }
  }
}
</script>

<style>
</style>
