<template>
  <div>
    <p class="tableTitles">
      Opmerkingen
      <q-icon color="green" size="125%" name="add" class="clickableIcons" @click="prompt = true" />
    </p>
    <q-markup-table>
      <tbody>
        <tr v-for="(comment, index) in patient.comments" :key="index">
          <td style="text-align: left">
            <q-input
              v-model="comment.content"
              bg-color="inputColor"
              dense
              standout="bg-primary text-white"
              @blur="changeComment(comment)"
            >
            <template v-slot:append>
          <q-icon
              class="clickableIcons"
              @click="deleteComment(index)"
              color="red"
              name="clear"
            />
        </template></q-input>
          </td>
        </tr>
      </tbody>
    </q-markup-table>
    <q-dialog
      v-model="prompt"
      persistent
    >
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">Voeg een opmerking toe</div>
        </q-card-section>

        <q-card-section>
          <q-input
            dense
            v-model="comment"
            autofocus
            @keyup.enter="addComment()"
          />
        </q-card-section>

        <q-card-actions
          align="right"
          class="text-primary"
        >
          <q-btn
            flat
            label="Annuleer"
            v-close-popup
          />
          <q-btn
            flat
            label="Voeg toe"
            type="submit"
            @click="addComment()"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'CommentList',
  props: {
    patient: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      prompt: false,
      comment: ''
    }
  },
  methods: {
    deleteComment (index) {
      this.patient.comments.splice(index, 1)
      this.$emit('valueChanged')
    },
    addComment () {
      if (this.comment !== '') {
        const index = this.getHighestId()
        this.patient.comments.unshift({ id: index, content: this.comment })
        this.$emit('valueChanged')
      }
      this.prompt = false
      this.comment = ''
    },
    changeComment (comment) {
      if (comment.content !== '') {
        const index = this.getCommentIndex(comment.id)
        this.patient.comments[index].content = comment.content
        this.$emit('valueChanged')
      }
    },
    getHighestId () {
      if (this.patient.comments.length === 0) return 1
      let p = this.patient.comments.reduce((a, b) => Number(a.id) > Number(b.id) ? a : b)
      let index = p.id
      return index + 1
    },
    getCommentIndex (id) {
      for (let index = 0; index < this.patient.comments.length; index++) {
        if (this.patient.comments[index].id === id) {
          return index
        }
      }
    }
  }
}
</script>
