<template>
  <div class="row justify-center full-height full-width text-center wrapper">
    <q-card square bordered class="q-pa-lg items-center shadow-10">
      <div id="head">
        <div id="filter">
          Toon uitgevoerde acties
          <br />
          <q-toggle id="filterToggle" v-model="showDone"></q-toggle>
        </div>
        <div id="roomInfo">
          <b>{{patient.roomnumber}}</b>
          {{patient.department}}
        </div>
      </div>
      <q-img id="userImage" :src="'../../statics/images/patients/' + patient.photopath" />
      <div id="name">{{ patient.name }}</div>
      <q-item-section>
        {{getDate(patient.hospitalisationdate)}}:
        {{patient.hospitalisationreason}}
      </q-item-section>
      <div>Door: {{patient.doctor}}</div>
      <q-toggle
        v-model="patient.vegetarian"
        checked-icon="check"
        color="green"
        unchecked-icon="clear"
        label="Vegetarisch:"
        left-label
        @input="updatePatientValues()"
      />
      <comment-list :patient="patient" @valueChanged="updatePatientValues"></comment-list>
      <action-list :patient="patient" :filterDone="showDone" @valueChanged="updatePatientValues"></action-list>
    </q-card>
  </div>
</template>

<style lang="sass" scoped>
  #userImage
    border-radius: 50%
    min-width: 30%
    max-width: 40%
    display:flex
    margin: auto
  #head
    display: flex
    top: 0
  #roomInfo
    justify-content: flex-end
    margin: 0 0 auto auto
  #filter
    justify-content: flex-start
  #filterToggle
    margin-top: 0
  #name
    font-size: 1.25rem
    font-weight: 500
    margin-top: 10px
  .q-card
    min-width: 400px
    vertical-align: middle
    margin: auto 15px 15px 15px
  .wrapper
    margin-top: 35px
</style>
<style lang="sass">
  .tableTitles
    font-size: 1.1rem
    font-weight: 450
  .clickableIcons
    cursor: pointer
</style>

<script>
import { mapGetters, mapActions } from 'vuex'
import ActionList from '../patient/ActionList'
import CommentList from '../patient/CommentList'
import { getFormattedDate } from '../../functions/myFunctions'

export default {
  name: 'PatientCard',
  components: { ActionList, CommentList },
  props: {
    patient: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      showDone: true
    }
  },
  created () {
    this.fetchPatients()
  },
  computed: {
    ...mapGetters(['getPatient'])
  },
  methods: {
    ...mapActions(['fetchPatients']),
    ...mapActions(['updatePatient']),
    updatePatientValues () {
      if (this.patient.actions === undefined) {
        this.patient.actions = []
      }
      this.updatePatient(this.patient)
    },
    getDate (d) {
      return getFormattedDate(d, false)
    }
  }
}
</script>

<style>
</style>
