<template>
  <div>
    <q-toolbar class="shadow-2 toolbar" :style="'background-color: ' + theme">
      <div class="buttons">
        <q-btn
          :flat="showMap"
          dense
          :color="this.$q.dark.isActive?'black':'accent'"
          icon="view_list"
          @click="showMap = false"
        />
        <q-btn
          :flat="!showMap"
          dense
          :color="this.$q.dark.isActive?'black':'accent'"
          icon="map"
          @click="showMap = true"
        />
      </div>
    </q-toolbar>

    <rooms-list
      v-if="!showMap"
      :department="getDepartmentByName(departmentName)"
      @onCardClick="onCardClick"
    >
    </rooms-list>
    <rooms-map v-if="showMap"
      :department="getDepartmentByName(departmentName)"
      @onCardClick="onCardClick">

    </rooms-map>
  </div>
</template>

<style lang="sass" scoped>
  .buttons
    display: inline-flex
    & > button
      margin-left: 10px
  .toolbar
    display: flex
    justify-content: flex-end
</style>

<script>
import ErrorService from '../services/ErrorService'
import RoomsList from 'components/rooms/RoomsList'
import RoomsMap from 'components/rooms/RoomsMap'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Department',
  components: {
    RoomsList, RoomsMap
  },
  created () {
    if (!this.checkDepartment(this.$route.params.department.substr(0, 1).toUpperCase() + this.$route.params.department.substr(1))) {
      ErrorService.showAlert('Afdeling ' + this.$route.params.department.substr(0, 1).toUpperCase() + this.$route.params.department.substr(1) + ' bestaat niet')
      this.router.push('/departments')
    }
    this.fetchPatients()
    try {
      this.fetchDepartments()
    } catch (error) {
      ErrorService.showAlert(error)
    }
    this.departmentName = this.$route.params.department.substr(0, 1).toUpperCase() + this.$route.params.department.substr(1)
    this.department = this.getDepartmentByName(this.departmentName)
  },
  computed: {
    ...mapGetters(['getPatientByRoomnumber']),
    ...mapGetters(['getDepartmentByName']),
    ...mapGetters(['checkDepartment']),
    theme () {
      return this.$q.dark.isActive ? '#1D1D1D' : '#027BE3'
    }
  },
  data () {
    return {
      departmentName: String,
      department: Object,
      showMap: false,
      router: this.$router
    }
  },
  methods: {
    onCardClick (room) {
      if (room.patientname === '' || room.patientname === undefined) {
        ErrorService.notify('Kamer ' + room.roomnumber + ' is leeg.')
        return
      }
      let id = this.getPatientByRoomnumber(room.roomnumber).id
      this.router.push('/patients/' + id)
    },
    ...mapActions(['fetchPatients']),
    ...mapActions(['fetchDepartments'])
  },
  beforeRouteUpdate (to, from, next) {
    const camel = to.params.department.substr(0, 1).toUpperCase() + to.params.department.substr(1)
    if (!this.checkDepartment(camel)) {
      ErrorService.showAlert('Afdeling ' + camel + ' bestaat niet')
      this.router.push('/departments')
    }
    this.departmentName = camel
    next()
  }
}
</script>
