<template>
  <div>
    <department-list v-if="!getLoadingDepartment" @onCardClick="onCardClick"></department-list>
    <div v-else class="flex justify-center q-mt-xl">
      <q-circular-progress indeterminate size="50px" color="accent" class="q-ma-md" />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import DepartmentList from 'components/DepartmentList'

export default {
  name: 'PageIndex',
  components: {
    DepartmentList
  },
  created () {
    this.fetchDepartments()
  },
  data () {
    return {
      router: this.$router
    }
  },
  methods: {
    ...mapActions(['fetchDepartments']),
    onCardClick (depart) {
      this.router.push('/departments/' + depart.name.toLowerCase())
    }
  },
  computed: {
    ...mapGetters(['getLoadingDepartment'])
  }
}
</script>
