<template>
  <patient-card :patient="getPatient(patientId)" style="heigth: 100%"></patient-card>
</template>

<script>
import { mapGetters } from 'vuex'
import ErrorService from '../services/ErrorService'
import PatientCard from 'components/patient/PatientCard'

export default {
  name: 'Patient',
  components: { PatientCard },
  created () {
    this.patientId = Number.parseInt(this.$route.params.patientid)
    if (!this.checkPatient(this.patientId)) {
      ErrorService.showAlert('Patient met id ' + this.patientId + ' bestaat niet')
      this.$router.push('/departments')
    }
  },
  computed: {
    ...mapGetters(['checkPatient']),
    ...mapGetters(['getPatient'])
  },
  data () {
    return {
      patientId: Number
    }
  }
}
</script>
