<template>
  <div class="row justify-center full-height full-width text-center wrapper">
    <q-card bordered class="q-pa-lg items-center shadow-2">
      <h3 id="title">Instellingen</h3>
      <q-card-section>
        <h6>Alarm geluid</h6>
        <q-toggle
          color="primary"
          icon="music_note"
          label="Aan/Uit"
          v-model="playAlarm"
          class="my-card"
        />
      </q-card-section>
      <q-card-section>
        <h6>Drempelwaarden</h6>
        <div style="display: flex;" class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <b>Hartslag</b>
            <div class="q-gutter-md row justify-center">
              <div>
                min
                <br />
                <q-input type="number" v-model="minHeartRate" filled style="width: 75px"></q-input>
              </div>
              <div>
                max
                <br />
                <q-input type="number" v-model="maxHeartRate" filled style="width: 75px"></q-input>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <b>Bloeddruk</b>
            <div class="q-gutter-md row justify-center">
              <div>
                min
                <br />
                <q-input type="number" v-model="minBloodPressure" filled style="width: 75px"></q-input>
              </div>
              <div>
                max
                <br />
                <q-input type="number" v-model="maxBloodPressure" filled style="width: 75px"></q-input>
              </div>
            </div>
          </div>
        </div>
      </q-card-section>
      <q-card-section>
        <h6>Minuten tot actie</h6>
        <div class="q-gutter-md row justify-center">
          <q-input type="number" v-model="actionMinutes" filled style="width: 75px"></q-input>
        </div>
      </q-card-section>
      <q-card-section>
        <h6>Toon</h6>
        <div style="display: flex;" class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            Nummer
            <q-toggle v-model="roomSettings.number"></q-toggle>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            Faciliteiten
            <q-toggle v-model="roomSettings.facilities"></q-toggle>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            Patiënt
            <q-toggle v-model="roomSettings.patient"></q-toggle>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            Monitoring data
            <q-toggle v-model="roomSettings.monitoring"></q-toggle>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            Actie
            <q-toggle v-model="roomSettings.action"></q-toggle>
          </div>
        </div>
      </q-card-section>
      <q-card-section>
        <h6>Kleuren</h6>
        <div style="display: flex;" class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 colors">
            Vrij
            <q-input filled v-model="colors.vrij" :rules="['anyColor']">
              <template v-slot:append>
                <q-icon name="colorize" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-color v-model="colors.vrij" />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 colors">
            Bezet
            <q-input filled v-model="colors.bezet" :rules="['anyColor']">
              <template v-slot:append>
                <q-icon name="colorize" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-color v-model="colors.bezet" />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 colors">
            Hulp
            <q-input filled v-model="colors.hulp" :rules="['anyColor']">
              <template v-slot:append>
                <q-icon name="colorize" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-color v-model="colors.hulp" />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 colors">
            Actie start kleur
            <q-input filled v-model="colors.actionStart" :rules="['anyColor']">
              <template v-slot:append>
                <q-icon name="colorize" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-color v-model="colors.actionStart" />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 colors">
            Actie eind kleur
            <q-input filled v-model="colors.actionEnd" :rules="['anyColor']">
              <template v-slot:append>
                <q-icon name="colorize" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-color v-model="colors.actionEnd" />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<style lang="sass" scoped>
  #title
    margin-bottom: 10px
  h6
    margin: 0
  .q-card
    padding: 20px
    margin: 20px auto 20px auto
    max-width: 900px
  .colors
    padding: 10px
</style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'PageSettings',
  data () {
    return {
      vrij_kleur: String,
      bezet_kleur: String,
      hulp_kleur: String
    }
  },
  computed: {
    ...mapGetters(['getAlarmCheck']),
    playAlarm: {
      set () {
        this.$store.commit('setAlarmCheck')
      },
      get () {
        return this.getAlarmCheck
      }
    },
    ...mapGetters(['getMinHeartRate']),
    minHeartRate: {
      set (val) {
        this.$store.commit('setMinHeartRate', val)
      },
      get () {
        return this.getMinHeartRate
      }
    },
    ...mapGetters(['getMaxHeartRate']),
    maxHeartRate: {
      set (val) {
        this.$store.commit('setMaxHeartRate', val)
      },
      get () {
        return this.getMaxHeartRate
      }
    },
    ...mapGetters(['getMinBloodPressure']),
    minBloodPressure: {
      set (val) {
        this.$store.commit('setMinBloodPressure', val)
      },
      get () {
        return this.getMinBloodPressure
      }
    },
    ...mapGetters(['getMaxBloodPressure']),
    maxBloodPressure: {
      set (val) {
        this.$store.commit('setMaxBloodPressure', val)
      },
      get () {
        return this.getMaxBloodPressure
      }
    },
    ...mapGetters(['getActionMinutes']),
    actionMinutes: {
      set (val) {
        this.$store.commit('setActionMinutes', val)
      },
      get () {
        return this.getActionMinutes
      }
    },
    ...mapGetters(['getRoomSettings']),
    roomSettings: {
      set (val) {
        this.$store.commit('setRoomSettings', val)
      },
      get () {
        return this.getRoomSettings
      }
    },
    ...mapGetters(['getColors']),
    colors: {
      set (val) {
        this.$store.commit('setColors', val)
      },
      get () {
        return this.getColors
      }
    }
  }
}
</script>
