<template>
        <div style="display: flex;" class="row">
    <q-card
      clickable
      class="my-card col-xs-12 col-sm-6 col-md-6 col-lg-4"
      v-for="
      department
      in
      getAllDepartments"
      :key="department.id"
      @click="$emit('onCardClick', department)"
    >
      <q-img
        :src="'../statics/images/departments/' + department.photopath"
        basic
      >
        <div class="absolute-bottom text-h6">
          {{department.name}}
        </div>
      </q-img>
      <q-card-section>
        {{department.description}}
      </q-card-section>
    </q-card>
  </div>
</template>

<style lang="sass" scoped>
.my-card
  width: 100%
  min-width: 100px
  max-width: 280px
  margin: 15px auto
  &:hover
    transform: scale(1.05)
    transition-duration: 0.5s
</style>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'DepartmentList',
  computed: mapGetters(['getAllDepartments'])
}
</script>
