<template>
  <div class="row justify-center">
    <room class="my-card col-xs-8 col-sm-5 col-md-4 col-lg-2"
      v-for="room in this.department.rooms"
      :key="room.id"
      :room="room"
      :patient="getPatientByRoomnumber(room.roomnumber)"
      :action="getAction(room)"
      :mapMode=false
      @onCardClick="$emit('onCardClick', room)"></room>
  </div>
</template>

<script>
import Room from '../rooms/Room'
import { mapGetters } from 'vuex'

export default {
  name: 'RoomsList',
  components: { Room },
  props: {
    department: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters(['getPatientByRoomnumber']),
    ...mapGetters(['getPatientAction'])
  },
  methods: {
    getAction (room) {
      if (this.roomOccupied(room) && this.getPatientAction(room.roomnumber) !== undefined) {
        return this.getPatientAction(room.roomnumber)
      } else {
        return undefined
      }
    },
    roomOccupied (room) {
      if (room.patientname === '' || room.patientname === undefined) {
        return false
      } else return true
    }
  }
}
</script>
