<template>
  <div id="mapContainer">
    <div
      v-for="room in department.rooms"
      :key="room.id"
    >
      <room
      :room="room"
      :patient="getPatientByRoomnumber(room.roomnumber)"
      :action="getAction(room)"
      class="mapRoom"
      :style="getStyle(room)"
      :mapMode=true
      @onCardClick="$emit('onCardClick', room)"></room>
    </div>
  </div>
</template>

<style lang="sass" scoped>
#mapContainer
  position: relative
  overflow: auto
  height: 88vh
.mapRoom
  position: absolute
  cursor: pointer
</style>

<script>
import Room from './Room'
import { mapGetters } from 'vuex'
export default {
  name: 'RoomsMap',
  components: { Room },
  computed: {
    ...mapGetters(['getPatientByRoomnumber']),
    ...mapGetters(['getPatientAction'])
  },
  props: {
    department: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      patients: Array,
      action: Object,
      alarm: false,
      theme: this.$q.dark.isActive ? 'dark' : 'grey'
    }
  },
  methods: {
    getAction (room) {
      if (this.roomOccupied(room) && this.getPatientAction(room.roomnumber) !== undefined) {
        return this.getPatientAction(room.roomnumber)
      } else {
        return undefined
      }
    },
    roomOccupied (room) {
      if (room.patientname === '' || room.patientname === undefined) {
        return false
      } else return true
    },
    getRoom () {
      for (let index = 0; index < this.department.rooms.length; index++) {
        return this.department.rooms[index]
      }
    },
    getStyle (room) {
      return `height: ${room.position.height}px; width: ${room.position.width}px; top: ${room.position.x}px; left: ${room.position.y}px`
    }
  }
}
</script>
