<template>
  <q-card
    flat
    bordered
    :class="getRoomstatus(room)"
    :style="cssProps"
    @click="$emit('onCardClick', room)"
  >
    <audio loop autoplay v-if="alarm && getAlarmCheck">
      <source src="../../statics/sounds/alarm.mp3" type="audio/mp3" />
    </audio>
    <div class="row">
      <div class="col">
        <q-card-section>
          <div class="text-h6">
            <div id="nameContainer">
              <div id="name" v-if="getRoomSettings.patient">
                <div v-if="roomOccupied(room)">{{patient.name}}</div>
                <div class="text-h6" v-else>Lege kamer</div>
                <div id="roomnumber" v-if="getRoomSettings.number">{{room.roomnumber}}</div>
              </div>
            </div>
          </div>
          <div class="facilityWrapper">
            <div v-if="roomOccupied(room) && getRoomSettings.monitoring">
              <i class="fas fa-heartbeat fa-sm"></i>
              {{patient.heartbeat}}
              <i class="fas fa-tint fa-sm"></i>
              {{patient.bloodpressure}}
            </div>
            <ul class="facilities">
              <template v-if="getRoomSettings.facilities">
                <li
                  v-for="(facility,
                index)
                in
                room.facilities"
                  :key="index"
                >
                  <q-icon
                    :name="getFacilityIcon(facility)"
                    :color="$q.dark.isActive?'white':'black'"
                    size="22px"
                  />
                </li>
              </template>
            </ul>
          </div>
        </q-card-section>
        <q-separator :style="mapMode ? 'margin-top: 100px' : ''" />
        <div
          class="actionSection"
          v-if="roomOccupied(room) && gotActions(room) && getRoomSettings.action"
          :style="getActionOtherGradient(room)"
        >
          <div>
            {{action.type}} om
            <b>{{action.timestamp}}</b>
          </div>
        </div>
        <q-card-section v-else></q-card-section>
      </div>
    </div>
  </q-card>
</template>

<style lang="sass" scoped>
    .facilities
      list-style-type: none
      display: flex
      justify-content: flex-end
      float: right
      margin: auto 0 auto auto
    .facilityWrapper
      display: inline-flex
      width: 100%
    #name
      display: inline-flex
      width: 100%
    #nameContainer
      align-items: bottom
    #roomnumber
      font-size: 0.8rem
      font-weight: 550
      float: right
      margin: auto 0 auto auto
    .actionSection
      padding: 16px
    .my-card
      min-heigth: 310px
      max-heigth 450px
      min-width: 310px
      margin: 10px
      cursor: pointer
      display:flex
      & > div:last-child
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
    .bezet-actie
      border: 5px solid orange
    .bezet-actie-alarm
      border: 5px solid #CB5C0D
    .bezet-alarm-dringend
      border: 5px solid rgba(140, 15, 15, 1)
      animation: pulse 2s infinite

    @keyframes pulse
      0%
        transform: scale(1)
        box-shadow: 0 0 0 0 rgba(140, 15, 15, 1)

      90%
        ransform: scale(0.95)
        box-shadow: 0 0 0 10px rgba(140, 15, 15, 0)

      100%
        transform: scale(1)
        box-shadow: 0 0 0 0 rgba(140, 15, 15, 0)

</style>

<style scoped>
.vrij {
  background-color: theme;
  border: 5px solid var(--vrij-color);
}
.bezet-ok {
  border: 5px solid var(--bezet-color);
}
.bezet-alarm {
  border: 5px solid var(--hulp-color);
}
</style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Room',
  props: {
    room: {
      type: Object,
      required: true
    },
    patient: {
      type: Object,
      required: false
    },
    action: {
      type: Object,
      required: false
    },
    mapMode: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      alarm: false,
      theme: this.$q.dark.isActive ? 'dark' : 'grey'
    }
  },
  computed: {
    ...mapGetters(['getAlarmCheck']),
    ...mapGetters(['getMinHeartRate']),
    ...mapGetters(['getMaxHeartRate']),
    ...mapGetters(['getMinBloodPressure']),
    ...mapGetters(['getMaxBloodPressure']),
    ...mapGetters(['getActionMinutes']),
    ...mapGetters(['getRoomSettings']),
    ...mapGetters(['getColors']),
    cssProps () {
      return {
        '--vrij-color': this.getColors.vrij,
        '--bezet-color': this.getColors.bezet,
        '--hulp-color': this.getColors.hulp
      }
    }
  },
  methods: {
    getFacilityIcon (facility) {
      let icon
      switch (facility) {
        case 'sanitair':
          icon = 'wc'
          break
        case 'salon':
          icon = 'event_seat'
          break
        case 'kinderverzorging':
          icon = 'child_friendly'
          break
        default:
          icon = ''
      }
      return icon
    },
    roomOccupied (room) {
      if (room.patientname === '' || room.patientname === undefined) {
        return false
      } else return true
    },
    gotActions () {
      if (this.action === undefined) {
        return false
      } else {
        return true
      }
    },
    getRoomstatus (room) {
      if (!this.roomOccupied(room)) {
        return 'vrij'
      }
      if (
        this.patient.heartbeat > this.getMaxHeartRate ||
        this.patient.heartbeat < this.getMinHeartRate ||
        this.patient.bloodpressure > this.getMaxBloodPressure ||
        this.patient.bloodpressure < this.getMinBloodPressure
      ) {
        this.alarm = true
        return 'bezet-alarm-dringend'
      }
      if (!room.alarmGedrukt) {
        if (!this.gotActions()) {
          return 'bezet-ok'
        }
        const time = new Date(this.action.timestamp)
        const now = this.getDateNow()
        if (time < now) {
          return 'bezet-actie-alarm'
        }
        if (time - now < this.getActionMinutes * 60000) {
          return 'bezet-actie'
        }
        return 'bezet-ok'
      } else {
        return 'bezet-alarm'
      }
    },
    getDateNow () {
      var q = new Date()
      return q
    },
    getActionOtherGradient (room) {
      const time = new Date(this.action.timestamp)
      const now = this.getDateNow()
      let diff = time - now
      diff = diff / 120000
      diff = diff * 100
      diff = Math.floor(diff)
      return `background: linear-gradient(360deg, ${
        this.getColors.actionEnd
      } ${100 - diff}%, ${this.getColors.actionStart} ${100}%);`
    }
  }
}
</script>
