<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated :style="'background-color: ' + theme">
      <q-toolbar class="glossy">
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />

        <q-toolbar-title>
          <q-icon style="padding-bootom: 3px" name="local_hospital" />Hospitaal
        </q-toolbar-title>

        <div>Cédric Grieten - 0126882-06</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      elevated
      :style="'backgroundColor: ' + this.$q.dark.isActive?'dark':'grey'"
    >
      <q-list>
        <q-item-label header>Pagina's</q-item-label>
        <q-item to="/departments">
          <q-item-section avatar>
            <q-icon name="layers" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Afdelingen</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          v-for="department in getAllDepartments"
          :key="department.id"
          :inset-level="1.2"
          :to="'/departments/' + getName(department.name)"
        >
          <q-item-section>
            <q-item-label>{{ department.name }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-separator />
        <q-item to="/settings">
          <q-item-section avatar>
            <q-icon name="settings" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Instellingen</q-item-label>
          </q-item-section>
        </q-item>
        <q-item-section style="position: fixed; bottom: 0">
          <q-separator />
          <q-item>
            <div class style="display: flex flex-direction: column; float: bottom">
              <div class="row items-center justify-center">
                Darkmode
                <q-toggle v-model="bool" @input="switchMode"></q-toggle>
              </div>
            </div>
          </q-item>
        </q-item-section>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'MyLayout',
  data () {
    return {
      leftDrawerOpen: false,
      theme: 'primary',
      bool: false
    }
  },
  computed: mapGetters(['getAllDepartments']),
  created () {
    this.fetchDepartments()
  },
  methods: {
    switchMode () {
      this.$q.dark.toggle()
      if (this.$q.dark.isActive) {
        document.body.setAttribute('data-theme', 'dark')
        this.theme = '#1D1D1D'
      } else {
        document.body.setAttribute('data-theme', 'light')
        this.theme = '#027BE3'
      }
    },
    getName: name => name.toLowerCase(),
    ...mapActions(['fetchDepartments'])
  }
}
</script>
